<a href="https://colab.research.google.com/github/ElenaVillano/sentiment_analysis_tweets/blob/main/notebooks/limpieza_bien.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NOTEBOOK DE LIMPIEZA

In [48]:
!pip install "git+https://github.com/ElenaVillano/sentiment_analysis_tweets.git#egg=nlptweet&subdirectory=src" --quiet

In [ ]:
#!pip uninstall nlptweet

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import nltk
#import re
import timeit
import string
# Nuestro paquete
import nlp


#call the nltk downloader
nltk.download('punkt')

from dateutil import parser

#from sklearn.model_selection import train_test_split

# Carga un set de stopwords predefinidas
from nltk.corpus import stopwords

from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [50]:
# Nombramiento de columnas
col_names = ['target', # Polaridad del twet 0=negativo, 2=neutral, 4=positivo
             'ids',    # ID tweet
             'date',   # Fecha y hora del tweet
             'flag',   # QUERY
             'user',   # Usuario del tweet
             'text']   # Texto del tweety

# Carga y limpieza de datos

In [51]:
# Requiered to select a file to be imported into colab
# Not useful if running locally
from google.colab import files
uploaded = files.upload()

Saving smaller_sample_200000.csv to smaller_sample_200000 (1).csv
Saving testdata_manual_2009_06_14.csv to testdata_manual_2009_06_14 (1).csv

In [52]:
training =  pd.read_csv('smaller_sample_200000.csv',
                 encoding='latin-1')

In [53]:
test = pd.read_csv('testdata_manual_2009_06_14.csv', names=col_names)

In [54]:
print(training.shape)
print(test.shape)

(200000, 6)
(498, 6)

In [55]:
# Ejemplo
training.loc[[4,8,27,41,44,35,48,155]]

     target  ...                                               text
4         0  ...                       Far too tired to be at work
8         0  ...  I wish today never happened. On top of that, I...
27        0  ...  @ReallyShecky - Indeed, come on down. The sick...
41        4  ...  Now I get to make incredibly long Tweets thank...
44        0  ...  btw whats wrong w/ being single? and if i turn...
35        4  ...  @allucha It would be a good idea not to mess w...
48        4  ...                 At a birthday party of a friend !
155       4  ...    is relaxing on the couch, Sundays are the best

[8 rows x 6 columns]

## Convertimos a minúsculas

In [56]:
from nlp.preprocessing import convierte_a_minusculas

In [57]:
training = convierte_a_minusculas(training)
test = convierte_a_minusculas(test)

In [58]:
# Ejemplo
training.loc[[4,8,27,41,44,35,48,155]]

     target  ...                                               text
4         0  ...                       far too tired to be at work
8         0  ...  i wish today never happened. on top of that, i...
27        0  ...  @reallyshecky - indeed, come on down. the sick...
41        4  ...  now i get to make incredibly long tweets thank...
44        0  ...  btw whats wrong w/ being single? and if i turn...
35        4  ...  @allucha it would be a good idea not to mess w...
48        4  ...                 at a birthday party of a friend !
155       4  ...    is relaxing on the couch, sundays are the best

[8 rows x 6 columns]

## Reemplazamos las URLs con el texto "URL"

In [59]:
from nlp.preprocessing import reemplazar_urls

In [60]:
training['text'] = training['text'].map(lambda s: reemplazar_urls(s))
test['text'] = test['text'].map(lambda s: reemplazar_urls(s))

In [61]:
# Ejemplo
training.loc[[4,8,27,41,44,35,48,155]]

     target  ...                                               text
4         0  ...                       far too tired to be at work
8         0  ...  i wish today never happened. on top of that, i...
27        0  ...  @reallyshecky - indeed, come on down. the sick...
41        4  ...  now i get to make incredibly long tweets thank...
44        0  ...  btw whats wrong w/ being single? and if i turn...
35        4  ...  @allucha it would be a good idea not to mess w...
48        4  ...                 at a birthday party of a friend !
155       4  ...    is relaxing on the couch, sundays are the best

[8 rows x 6 columns]

## Reemplazamos las menciones @ con la palabra "USER_MENTION"

In [62]:
from nlp.preprocessing import reemplazar_usuarios

In [63]:
training['text'] = training['text'].map(lambda s: reemplazar_usuarios(s))
test['text'] = test['text'].map(lambda s: reemplazar_usuarios(s))

In [64]:
# Ejemplo
training.loc[[4,8,27,41,44,35,48,155]]

     target  ...                                               text
4         0  ...                       far too tired to be at work
8         0  ...  i wish today never happened. on top of that, i...
27        0  ...  user_mention - indeed, come on down. the sick ...
41        4  ...  now i get to make incredibly long tweets thank...
44        0  ...  btw whats wrong w/ being single? and if i turn...
35        4  ...  user_mention it would be a good idea not to me...
48        4  ...                 at a birthday party of a friend !
155       4  ...    is relaxing on the couch, sundays are the best

[8 rows x 6 columns]

## Quitamos el Hashtag , pero dejamos la palabra

In [65]:
# The regular expression used to match hashtags is #(\S+).
from nlp.preprocessing import quitar_hashtag

In [66]:
training['text'] = training['text'].map(lambda s: quitar_hashtag(s))
test['text'] = test['text'].map(lambda s: quitar_hashtag(s))

In [67]:
# Ejemplo
training.loc[[4,8,27,41,44,35,48,155]]

     target  ...                                               text
4         0  ...                       far too tired to be at work
8         0  ...  i wish today never happened. on top of that, i...
27        0  ...  user_mention - indeed, come on down. the sick ...
41        4  ...  now i get to make incredibly long tweets thank...
44        0  ...  btw whats wrong w/ being single? and if i turn...
35        4  ...  user_mention it would be a good idea not to me...
48        4  ...                 at a birthday party of a friend !
155       4  ...    is relaxing on the couch, sundays are the best

[8 rows x 6 columns]

## Quitamos los Retweets, sólo la palabra RT , dejamos el comentario

In [68]:
#  The regular expression used to match retweets is \brt\b.
from nlp.preprocessing import quitar_RT

In [69]:
training['text'] = training['text'].map(lambda s: quitar_RT(s))
test['text'] = test['text'].map(lambda s: quitar_RT(s))

In [70]:
training.loc[[4,8,27,41,44,35,48,155]]

     target  ...                                               text
4         0  ...                       far too tired to be at work
8         0  ...  i wish today never happened. on top of that, i...
27        0  ...  user_mention - indeed, come on down. the sick ...
41        4  ...  now i get to make incredibly long tweets thank...
44        0  ...  btw whats wrong w/ being single? and if i turn...
35        4  ...  user_mention it would be a good idea not to me...
48        4  ...                 at a birthday party of a friend !
155       4  ...    is relaxing on the couch, sundays are the best

[8 rows x 6 columns]

## Quitamos espacios o puntos extras

In [71]:
## Reemplazamos los dobles puntos (o más) con un espacio , dos o más espacios con 1 espacio y hacemos strip de espacios y comillas
# Strip any punctuation [’"?!,.():;-'] from the word ??
from nlp.preprocessing import quitar_caracteres_especiales

In [72]:
training['text'] = training['text'].map(lambda s: quitar_caracteres_especiales(s))
test['text'] = test['text'].map(lambda s: quitar_caracteres_especiales(s))

In [73]:
training.loc[[4,8,27,41,44,35,48,155]]

     target  ...                                               text
4         0  ...                       far too tired to be at work
8         0  ...  i wish today never happened on top of that i m...
27        0  ...  user_mention  indeed come on down the sick hea...
41        4  ...  now i get to make incredibly long tweets thank...
44        0  ...  btw whats wrong w/ being single and if i turn ...
35        4  ...  user_mention it would be a good idea not to me...
48        4  ...                  at a birthday party of a friend
155       4  ...     is relaxing on the couch sundays are the best

[8 rows x 6 columns]

## Quitamos expresiones con letras repetidas

In [74]:
#Convert 2 or more letter repetitions to 2 letters.
#Some people send tweets like I am sooooo
#happpppy adding multiple characters to emphasize
#on certain words. This is done to handle such tweets
#by converting them to I am soo happy
from nlp.preprocessing import quitar_letras_repetidas

In [75]:
training['text'] = training['text'].map(lambda s: quitar_letras_repetidas(s))
test['text'] = test['text'].map(lambda s: quitar_letras_repetidas(s))

In [76]:
training.loc[[4,8,27,41,44,35,48,155]]

     target  ...                                               text
4         0  ...                       far too tired to be at work
8         0  ...  i wish today never happened on top of that i m...
27        0  ...  user_mention  indeed come on down the sick hea...
41        4  ...  now i get to make incredibly long tweets thank...
44        0  ...  btw whats wrong w/ being single and if i turn ...
35        4  ...  user_mention it would be a good idea not to me...
48        4  ...                  at a birthday party of a friend
155       4  ...     is relaxing on the couch sundays are the best

[8 rows x 6 columns]

## Quitar caracteres nonascii

In [77]:
from nlp.preprocessing import quitar_nonascii

In [78]:
training['text'] = training['text'].map(lambda s: quitar_nonascii(s))
test['text'] = test['text'].map(lambda s: quitar_nonascii(s))

In [79]:
training.loc[[4,8,27,41,44,35,48,155]]

     target  ...                                               text
4         0  ...                       far too tired to be at work
8         0  ...  i wish today never happened on top of that i m...
27        0  ...  user_mention  indeed come on down the sick hea...
41        4  ...  now i get to make incredibly long tweets thank...
44        0  ...  btw whats wrong w/ being single and if i turn ...
35        4  ...  user_mention it would be a good idea not to me...
48        4  ...                  at a birthday party of a friend
155       4  ...     is relaxing on the couch sundays are the best

[8 rows x 6 columns]

## Removemos stopwords

In [83]:
nltk.download('stopwords') # Use predefined list of stopwords from nltk

STOPWORDS = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [84]:
from nlp.preprocessing import separar_abreviaciones

In [85]:
training['text'] = training['text'].map(lambda s: separar_abreviaciones(s))
test['text'] = test['text'].map(lambda s: separar_abreviaciones(s))

In [86]:
training.loc[[4,8,27,41,44,35,48,155]]

     target  ...                                               text
4         0  ...                       far too tired to be at work
8         0  ...  i wish today never happened on top of that i m...
27        0  ...  user_mention  indeed come on down the sick hea...
41        4  ...  now i get to make incredibly long tweets thank...
44        0  ...  btw whats wrong w/ being single and if i turn ...
35        4  ...  user_mention it would be a good idea not to me...
48        4  ...                  at a birthday party of a friend
155       4  ...     is relaxing on the couch sundays are the best

[8 rows x 6 columns]

In [87]:
from nlp.preprocessing import remove_stopwords

In [88]:
training['text'] = training['text'].map(lambda s: remove_stopwords(s))
test['atext'] = test['text'].map(lambda s: remove_stopwords(s))

In [89]:
training.loc[[4,8,27,41,44,35,48,155]]

     target  ...                                               text
4         0  ...                                     far tired work
8         0  ...  wish today never happened top miss user_mentio...
27        0  ...  user_mention indeed come sick heat really quit...
41        4  ...  get make incredibly long tweets thanks twitzer...
44        0  ...  btw whats wrong w/ single turn lesbian let u know
35        4  ...  user_mention would good idea mess mr potatohea...
48        4  ...                              birthday party friend
155       4  ...                        relaxing couch sundays best

[8 rows x 6 columns]

## Stemming con NLTK

In [91]:
from nlp.preprocessing import oracion_raiz

In [92]:
training['text'] = training['text'].map(lambda s: oracion_raiz(s))
test['atext'] = test['text'].map(lambda s: oracion_raiz(s))

In [93]:
training

        target  ...                                               text
0            0  ...  user_ment wellnot breakup speech per sebut go ...
1            4  ...                          state slow seem pick bit
2            0  ...  user_ment hey help user_ment take url behind a...
3            0  ...  aw man user_ment think make see chang thing wo...
4            0  ...                                     far tire work
...        ...  ...                                                ...
199995       0  ...     user_ment think kati perri remind situat kirk
199996       0  ...  would bf build someth w/n would much would get...
199997       0  ...  tip finger hurt nervou school store tomorrow p...
199998       4  ...                                  url chillin pool
199999       0  ...                    pick dog doctor note back work

[200000 rows x 6 columns]

Quitamos datos al entrenamiento, empecemos con 100,000

In [ ]:
data_set_1 = training= training.head(100000)

In [ ]:
data_set_1

       target  ...                                               text
0           0  ...  user_ment url aww bummer shoulda got david car...
1           0  ...  upset updat facebook text might cri result sch...
2           0  ...  user_ment dive mani time ball manag save 50 % ...
3           0  ...                   whole bodi feel itchi like fire
4           0  ...                           user_ment behav mad see
...       ...  ...                                                ...
99995       0  ...  son develop new habit wake 530am second pot co...
99996       0  ...                 look like router broke tweet fone
99997       0  ...          realli dont want colleg right wish sunni
99998       0  ...                           user_ment *offer pepto*
99999       0  ...                         user_ment would soo revis

[100000 rows x 6 columns]