<a href="https://colab.research.google.com/github/ElenaVillano/sentiment_analysis_tweets/blob/main/notebooks/modelado_ejemplo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
!pip install "git+https://github.com/ElenaVillano/sentiment_analysis_tweets.git#egg=nlptweet&subdirectory=src" --quiet

In [23]:
#!pip uninstall nlptweet

Uninstalling nlptweet-0.1:
  Would remove:
    /usr/local/lib/python3.7/dist-packages/nlp/*
    /usr/local/lib/python3.7/dist-packages/nlptweet-0.1.dist-info/*
Proceed (y/n)? yes
Your response ('yes') was not one of the expected responses: y, n
Proceed (y/n)? y
  Successfully uninstalled nlptweet-0.1

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import nltk
#import re
import timeit
import string
# Nuestro paquete
import nlp


#call the nltk downloader
nltk.download('punkt')

from dateutil import parser

from sklearn.model_selection import train_test_split

# Carga un set de stopwords predefinidas
from nltk.corpus import stopwords

from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
# Nombramiento de columnas
col_names = ['target', # Polaridad del twet 0=negativo, 2=neutral, 4=positivo
             'ids',    # ID tweet
             'date',   # Fecha y hora del tweet
             'flag',   # QUERY
             'user',   # Usuario del tweet
             'text']   # Texto del tweety

# Carga y limpieza de datos

In [6]:
# Requiered to select a file to be imported into colab
# Not useful if running locally
from google.colab import files
uploaded = files.upload()

Saving testdata_manual_2009_06_14.csv to testdata_manual_2009_06_14 (1).csv

In [5]:
training =  pd.read_csv('smaller_sample_500000.csv',
                 encoding='latin-1')

In [7]:
test = pd.read_csv('testdata_manual_2009_06_14.csv', names=col_names)

In [8]:
print(training.shape)
print(test.shape)

(500000, 6)
(498, 6)

In [9]:
training.head(50)

    target  ...                                               text
0        0  ...  I'll be having ER duty tomorrow.  This will be...
1        0  ...  Finished watching the whole season of 24 today...
2        0  ...          wow. i havent been on twitter in awhile.
3        0  ...  Powered through a 3 hour shift at work today. ...
4        4  ...  @JJaeng @tontenn thats good to hear  i wanna g...
5        4  ...  @ItsaPROBLEM lol  that sounds about right! U c...
6        0  ...  SHIT I lost my Star Trek ring!    Starfleet Ac...
7        4  ...  @Rogues_Gallery hehe you should definitely go ...
8        0  ...  @xoxobb11 you got it all done?? even the labs?...
9        4  ...  @DeeDeeB83 Hey Mrs. 'course I found you. I hav...
10       0  ...  david wants to go for another gathering dinner...
11       4  ...                              Appoaching Malolos..
12       4  ...  got a few weird tan lines at the pool today.. ...
13       4  ...            @depping Not so much friend after this
14       0  ...  just won tickets to the blink182 and fall out ...
15       0  ...                         Ahhh another day at work!
16       0  ...  how goes it on your saturday nite??? getting m...
17       0  ...  Was online after a longtime on gtalk &amp; eve...
18       4  ...  @Colettexo Ano hes so creepy..the way he was p...
19       4  ...                            Going home to see Mama
20       0  ...  I left out the house without setting my dvr to...
21       4  ...  @RobinTaylorRoth i couldn't tame my hair to sa...
22       0  ...  @EeskeeMO i wudnt shave it if u paid me loads ...
23       4  ...  I am not working very hard today! thinking abo...
24       0  ...  oops i used the wrong version of they're  in m...
25       0  ...  @rachaelmoore yes, just stressing about finish...
26       4  ...                 @dougiemcfly hahahahaha good one!
27       4  ...  http://digg.com/u14iGM - Photos on Flickr from...
28       4  ...      Just spent the day in alpharetta with kris
29       0  ...  @The_Bruno_World oh I'm so jealous!  I guess I...
30       4  ...  @lumalfoy I really need to make my rings small...
31       0  ...  Am sad about Jon and Kate. I liked the show ba...
32       0  ...  New pictures of poor Gavin covered in mosquito...
33       4  ...  #webdu talk went well, seems to have been well...
34       0  ...                  has to do chores in a little bit
35       0  ...                        can't sleep  hit up my cell
36       4  ...  @ITSRPATTINSON yea lol. you were so funny in t...
37       4  ...  @SelenaJoey oh and you shud post ur trident co...
38       4  ...                    where i can get sets?  #asot400
39       4  ...  @mileycyrus Congrats on winning 'Best Song In ...
40       4  ...            @kazdreamer And yes... I would love to
41       0  ...  @SophieLouiseJ  YEAHHH But....Aiden =/  XD AHH...
42       4  ...  @AdenStoneXXX I thought you were going to sleep!
43       0  ...  #careerkiller MTV awards what they did to Emin...
44       0  ...  So glad i went to senior awards!!!!!!! Too bad...
45       4  ...  @sylviacheng yay! that was so fun!  ps: maybe ...
46       4  ...  @YoungQ  hasn't kept me from seeing the shows!...
47       0  ...  @Raisinlike that sounds like torture! Sorry th...
48       0  ...  noone will see these updates! i have no follow...
49       0  ...              I have a massive headache  Boohoo me!

[50 rows x 6 columns]

## Convertimos a min√∫sculas

In [10]:
from nlp.preprocessing import convierte_a_minusculas

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
training = convierte_a_minusculas(training)
test = convierte_a_minusculas(test)

In [78]:
training.head(50)

    target  ...                                               text
0        0  ...  i'll be having er duty tomorrow.  this will be...
1        0  ...  finished watching the whole season of 24 today...
2        0  ...          wow. i havent been on twitter in awhile.
3        0  ...  powered through a 3 hour shift at work today. ...
4        4  ...  @jjaeng @tontenn thats good to hear  i wanna g...
5        4  ...  @itsaproblem lol  that sounds about right! u c...
6        0  ...  shit i lost my star trek ring!    starfleet ac...
7        4  ...  @rogues_gallery hehe you should definitely go ...
8        0  ...  @xoxobb11 you got it all done?? even the labs?...
9        4  ...  @deedeeb83 hey mrs. 'course i found you. i hav...
10       0  ...  david wants to go for another gathering dinner...
11       4  ...                              appoaching malolos..
12       4  ...  got a few weird tan lines at the pool today.. ...
13       4  ...            @depping not so much friend after this
14       0  ...  just won tickets to the blink182 and fall out ...
15       0  ...                         ahhh another day at work!
16       0  ...  how goes it on your saturday nite??? getting m...
17       0  ...  was online after a longtime on gtalk &amp; eve...
18       4  ...  @colettexo ano hes so creepy..the way he was p...
19       4  ...                            going home to see mama
20       0  ...  i left out the house without setting my dvr to...
21       4  ...  @robintaylorroth i couldn't tame my hair to sa...
22       0  ...  @eeskeemo i wudnt shave it if u paid me loads ...
23       4  ...  i am not working very hard today! thinking abo...
24       0  ...  oops i used the wrong version of they're  in m...
25       0  ...  @rachaelmoore yes, just stressing about finish...
26       4  ...                 @dougiemcfly hahahahaha good one!
27       4  ...  http://digg.com/u14igm - photos on flickr from...
28       4  ...      just spent the day in alpharetta with kris
29       0  ...  @the_bruno_world oh i'm so jealous!  i guess i...
30       4  ...  @lumalfoy i really need to make my rings small...
31       0  ...  am sad about jon and kate. i liked the show ba...
32       0  ...  new pictures of poor gavin covered in mosquito...
33       4  ...  #webdu talk went well, seems to have been well...
34       0  ...                  has to do chores in a little bit
35       0  ...                        can't sleep  hit up my cell
36       4  ...  @itsrpattinson yea lol. you were so funny in t...
37       4  ...  @selenajoey oh and you shud post ur trident co...
38       4  ...                    where i can get sets?  #asot400
39       4  ...  @mileycyrus congrats on winning 'best song in ...
40       4  ...            @kazdreamer and yes... i would love to
41       0  ...  @sophielouisej  yeahhh but....aiden =/  xd ahh...
42       4  ...  @adenstonexxx i thought you were going to sleep!
43       0  ...  #careerkiller mtv awards what they did to emin...
44       0  ...  so glad i went to senior awards!!!!!!! too bad...
45       4  ...  @sylviacheng yay! that was so fun!  ps: maybe ...
46       4  ...  @youngq  hasn't kept me from seeing the shows!...
47       0  ...  @raisinlike that sounds like torture! sorry th...
48       0  ...  noone will see these updates! i have no follow...
49       0  ...              i have a massive headache  boohoo me!

[50 rows x 6 columns]

## Reemplazamos las URLs con el texto "URL"

In [12]:
from nlp.preprocessing import reemplazar_urls

In [13]:
training['text'] = training['text'].map(lambda s: reemplazar_urls(s))
test['text'] = test['text'].map(lambda s: reemplazar_urls(s))

In [14]:
training.head(50)

    target  ...                                               text
0        0  ...  i'll be having er duty tomorrow.  this will be...
1        0  ...  finished watching the whole season of 24 today...
2        0  ...          wow. i havent been on twitter in awhile.
3        0  ...  powered through a 3 hour shift at work today. ...
4        4  ...  @jjaeng @tontenn thats good to hear  i wanna g...
5        4  ...  @itsaproblem lol  that sounds about right! u c...
6        0  ...  shit i lost my star trek ring!    starfleet ac...
7        4  ...  @rogues_gallery hehe you should definitely go ...
8        0  ...  @xoxobb11 you got it all done?? even the labs?...
9        4  ...  @deedeeb83 hey mrs. 'course i found you. i hav...
10       0  ...  david wants to go for another gathering dinner...
11       4  ...                              appoaching malolos..
12       4  ...  got a few weird tan lines at the pool today.. ...
13       4  ...            @depping not so much friend after this
14       0  ...  just won tickets to the blink182 and fall out ...
15       0  ...                         ahhh another day at work!
16       0  ...  how goes it on your saturday nite??? getting m...
17       0  ...  was online after a longtime on gtalk &amp; eve...
18       4  ...  @colettexo ano hes so creepy..the way he was p...
19       4  ...                            going home to see mama
20       0  ...  i left out the house without setting my dvr to...
21       4  ...  @robintaylorroth i couldn't tame my hair to sa...
22       0  ...  @eeskeemo i wudnt shave it if u paid me loads ...
23       4  ...  i am not working very hard today! thinking abo...
24       0  ...  oops i used the wrong version of they're  in m...
25       0  ...  @rachaelmoore yes, just stressing about finish...
26       4  ...                 @dougiemcfly hahahahaha good one!
27       4  ...  url - photos on flickr from the newport comput...
28       4  ...      just spent the day in alpharetta with kris
29       0  ...  @the_bruno_world oh i'm so jealous!  i guess i...
30       4  ...  @lumalfoy i really need to make my rings small...
31       0  ...  am sad about jon and kate. i liked the show ba...
32       0  ...  new pictures of poor gavin covered in mosquito...
33       4  ...  #webdu talk went well, seems to have been well...
34       0  ...                  has to do chores in a little bit
35       0  ...                        can't sleep  hit up my cell
36       4  ...  @itsrpattinson yea lol. you were so funny in t...
37       4  ...  @selenajoey oh and you shud post ur trident co...
38       4  ...                    where i can get sets?  #asot400
39       4  ...  @mileycyrus congrats on winning 'best song in ...
40       4  ...            @kazdreamer and yes... i would love to
41       0  ...  @sophielouisej  yeahhh but....aiden =/  xd ahh...
42       4  ...  @adenstonexxx i thought you were going to sleep!
43       0  ...  #careerkiller mtv awards what they did to emin...
44       0  ...  so glad i went to senior awards!!!!!!! too bad...
45       4  ...  @sylviacheng yay! that was so fun!  ps: maybe ...
46       4  ...  @youngq  hasn't kept me from seeing the shows!...
47       0  ...  @raisinlike that sounds like torture! sorry th...
48       0  ...  noone will see these updates! i have no follow...
49       0  ...              i have a massive headache  boohoo me!

[50 rows x 6 columns]

## Reemplazamos las menciones @ con la palabra "USER_MENTION"

In [33]:
from nlp.preprocessing import reemplazar_usuarios

In [34]:
training['text'] = training['text'].map(lambda s: reemplazar_usuarios(s))
test['text'] = test['text'].map(lambda s: reemplazar_usuarios(s))

In [35]:
training.head(50)

    target  ...                                               text
0        0  ...  i'll be having er duty tomorrow.  this will be...
1        0  ...  finished watching the whole season of 24 today...
2        0  ...          wow. i havent been on twitter in awhile.
3        0  ...  powered through a 3 hour shift at work today. ...
4        4  ...  @jjaeng @tontenn thats good to hear  i wanna g...
5        4  ...  @itsaproblem lol  that sounds about right! u c...
6        0  ...  shit i lost my star trek ring!    starfleet ac...
7        4  ...  @rogues_gallery hehe you should definitely go ...
8        0  ...  @xoxobb11 you got it all done?? even the labs?...
9        4  ...  @deedeeb83 hey mrs. 'course i found you. i hav...
10       0  ...  david wants to go for another gathering dinner...
11       4  ...                              appoaching malolos..
12       4  ...  got a few weird tan lines at the pool today.. ...
13       4  ...            @depping not so much friend after this
14       0  ...  just won tickets to the blink182 and fall out ...
15       0  ...                         ahhh another day at work!
16       0  ...  how goes it on your saturday nite??? getting m...
17       0  ...  was online after a longtime on gtalk &amp; eve...
18       4  ...  @colettexo ano hes so creepy..the way he was p...
19       4  ...                            going home to see mama
20       0  ...  i left out the house without setting my dvr to...
21       4  ...  @robintaylorroth i couldn't tame my hair to sa...
22       0  ...  @eeskeemo i wudnt shave it if u paid me loads ...
23       4  ...  i am not working very hard today! thinking abo...
24       0  ...  oops i used the wrong version of they're  in m...
25       0  ...  @rachaelmoore yes, just stressing about finish...
26       4  ...                 @dougiemcfly hahahahaha good one!
27       4  ...  url - photos on flickr from the newport comput...
28       4  ...      just spent the day in alpharetta with kris
29       0  ...  @the_bruno_world oh i'm so jealous!  i guess i...
30       4  ...  @lumalfoy i really need to make my rings small...
31       0  ...  am sad about jon and kate. i liked the show ba...
32       0  ...  new pictures of poor gavin covered in mosquito...
33       4  ...   talk went well, seems to have been well recei...
34       0  ...                  has to do chores in a little bit
35       0  ...                        can't sleep  hit up my cell
36       4  ...  @itsrpattinson yea lol. you were so funny in t...
37       4  ...  @selenajoey oh and you shud post ur trident co...
38       4  ...                            where i can get sets?
39       4  ...  @mileycyrus congrats on winning 'best song in ...
40       4  ...            @kazdreamer and yes... i would love to
41       0  ...  @sophielouisej  yeahhh but....aiden =/  xd ahh...
42       4  ...  @adenstonexxx i thought you were going to sleep!
43       0  ...              mtv awards what they did to eminem..
44       0  ...  so glad i went to senior awards!!!!!!! too bad...
45       4  ...  @sylviacheng yay! that was so fun!  ps: maybe ...
46       4  ...  @youngq  hasn't kept me from seeing the shows!...
47       0  ...  @raisinlike that sounds like torture! sorry th...
48       0  ...  noone will see these updates! i have no follow...
49       0  ...              i have a massive headache  boohoo me!

[50 rows x 6 columns]

## Quitamos el Hashtag , pero dejamos la palabra

In [18]:
# The regular expression used to match hashtags is #(\S+).
from nlp.preprocessing import quitar_hashtag

In [19]:
training['text'] = training['text'].map(lambda s: quitar_hashtag(s))
test['text'] = test['text'].map(lambda s: quitar_hashtag(s))

In [20]:
training.head(50)

    target  ...                                               text
0        0  ...  i'll be having er duty tomorrow.  this will be...
1        0  ...  finished watching the whole season of 24 today...
2        0  ...          wow. i havent been on twitter in awhile.
3        0  ...  powered through a 3 hour shift at work today. ...
4        4  ...  @jjaeng @tontenn thats good to hear  i wanna g...
5        4  ...  @itsaproblem lol  that sounds about right! u c...
6        0  ...  shit i lost my star trek ring!    starfleet ac...
7        4  ...  @rogues_gallery hehe you should definitely go ...
8        0  ...  @xoxobb11 you got it all done?? even the labs?...
9        4  ...  @deedeeb83 hey mrs. 'course i found you. i hav...
10       0  ...  david wants to go for another gathering dinner...
11       4  ...                              appoaching malolos..
12       4  ...  got a few weird tan lines at the pool today.. ...
13       4  ...            @depping not so much friend after this
14       0  ...  just won tickets to the blink182 and fall out ...
15       0  ...                         ahhh another day at work!
16       0  ...  how goes it on your saturday nite??? getting m...
17       0  ...  was online after a longtime on gtalk &amp; eve...
18       4  ...  @colettexo ano hes so creepy..the way he was p...
19       4  ...                            going home to see mama
20       0  ...  i left out the house without setting my dvr to...
21       4  ...  @robintaylorroth i couldn't tame my hair to sa...
22       0  ...  @eeskeemo i wudnt shave it if u paid me loads ...
23       4  ...  i am not working very hard today! thinking abo...
24       0  ...  oops i used the wrong version of they're  in m...
25       0  ...  @rachaelmoore yes, just stressing about finish...
26       4  ...                 @dougiemcfly hahahahaha good one!
27       4  ...  url - photos on flickr from the newport comput...
28       4  ...      just spent the day in alpharetta with kris
29       0  ...  @the_bruno_world oh i'm so jealous!  i guess i...
30       4  ...  @lumalfoy i really need to make my rings small...
31       0  ...  am sad about jon and kate. i liked the show ba...
32       0  ...  new pictures of poor gavin covered in mosquito...
33       4  ...   talk went well, seems to have been well recei...
34       0  ...                  has to do chores in a little bit
35       0  ...                        can't sleep  hit up my cell
36       4  ...  @itsrpattinson yea lol. you were so funny in t...
37       4  ...  @selenajoey oh and you shud post ur trident co...
38       4  ...                            where i can get sets?
39       4  ...  @mileycyrus congrats on winning 'best song in ...
40       4  ...            @kazdreamer and yes... i would love to
41       0  ...  @sophielouisej  yeahhh but....aiden =/  xd ahh...
42       4  ...  @adenstonexxx i thought you were going to sleep!
43       0  ...              mtv awards what they did to eminem..
44       0  ...  so glad i went to senior awards!!!!!!! too bad...
45       4  ...  @sylviacheng yay! that was so fun!  ps: maybe ...
46       4  ...  @youngq  hasn't kept me from seeing the shows!...
47       0  ...  @raisinlike that sounds like torture! sorry th...
48       0  ...  noone will see these updates! i have no follow...
49       0  ...              i have a massive headache  boohoo me!

[50 rows x 6 columns]

## Quitamos los Retweets, s√≥lo la palabra RT , dejamos el comentario

In [21]:
#  The regular expression used to match retweets is \brt\b.
from nlp.preprocessing import quitar_RT

In [22]:
training['text'] = training['text'].map(lambda s: quitar_RT(s))
test['text'] = test['text'].map(lambda s: quitar_RT(s))

In [23]:
training.head(50)

    target  ...                                               text
0        0  ...  i'll be having er duty tomorrow.  this will be...
1        0  ...  finished watching the whole season of 24 today...
2        0  ...          wow. i havent been on twitter in awhile.
3        0  ...  powered through a 3 hour shift at work today. ...
4        4  ...  @jjaeng @tontenn thats good to hear  i wanna g...
5        4  ...  @itsaproblem lol  that sounds about right! u c...
6        0  ...  shit i lost my star trek ring!    starfleet ac...
7        4  ...  @rogues_gallery hehe you should definitely go ...
8        0  ...  @xoxobb11 you got it all done?? even the labs?...
9        4  ...  @deedeeb83 hey mrs. 'course i found you. i hav...
10       0  ...  david wants to go for another gathering dinner...
11       4  ...                              appoaching malolos..
12       4  ...  got a few weird tan lines at the pool today.. ...
13       4  ...            @depping not so much friend after this
14       0  ...  just won tickets to the blink182 and fall out ...
15       0  ...                         ahhh another day at work!
16       0  ...  how goes it on your saturday nite??? getting m...
17       0  ...  was online after a longtime on gtalk &amp; eve...
18       4  ...  @colettexo ano hes so creepy..the way he was p...
19       4  ...                            going home to see mama
20       0  ...  i left out the house without setting my dvr to...
21       4  ...  @robintaylorroth i couldn't tame my hair to sa...
22       0  ...  @eeskeemo i wudnt shave it if u paid me loads ...
23       4  ...  i am not working very hard today! thinking abo...
24       0  ...  oops i used the wrong version of they're  in m...
25       0  ...  @rachaelmoore yes, just stressing about finish...
26       4  ...                 @dougiemcfly hahahahaha good one!
27       4  ...  url - photos on flickr from the newport comput...
28       4  ...      just spent the day in alpharetta with kris
29       0  ...  @the_bruno_world oh i'm so jealous!  i guess i...
30       4  ...  @lumalfoy i really need to make my rings small...
31       0  ...  am sad about jon and kate. i liked the show ba...
32       0  ...  new pictures of poor gavin covered in mosquito...
33       4  ...   talk went well, seems to have been well recei...
34       0  ...                  has to do chores in a little bit
35       0  ...                        can't sleep  hit up my cell
36       4  ...  @itsrpattinson yea lol. you were so funny in t...
37       4  ...  @selenajoey oh and you shud post ur trident co...
38       4  ...                            where i can get sets?
39       4  ...  @mileycyrus congrats on winning 'best song in ...
40       4  ...            @kazdreamer and yes... i would love to
41       0  ...  @sophielouisej  yeahhh but....aiden =/  xd ahh...
42       4  ...  @adenstonexxx i thought you were going to sleep!
43       0  ...              mtv awards what they did to eminem..
44       0  ...  so glad i went to senior awards!!!!!!! too bad...
45       4  ...  @sylviacheng yay! that was so fun!  ps: maybe ...
46       4  ...  @youngq  hasn't kept me from seeing the shows!...
47       0  ...  @raisinlike that sounds like torture! sorry th...
48       0  ...  noone will see these updates! i have no follow...
49       0  ...              i have a massive headache  boohoo me!

[50 rows x 6 columns]

## Quitamos espacios o puntos extras

In [24]:
## Reemplazamos los dobles puntos (o m√°s) con un espacio , dos o m√°s espacios con 1 espacio y hacemos strip de espacios y comillas
# Strip any punctuation [‚Äô"?!,.():;-'] from the word ??

from nlp.preprocessing import quitar_caracteres_especiales

In [99]:
training['text'] = training['text'].map(lambda s: quitar_caracteres_especiales(s))
test['text'] = test['text'].map(lambda s: quitar_caracteres_especiales(s))

In [101]:
training.head(50)

    target  ...                                               text
0        0  ...  i'll be having er duty tomorrow this will be f...
1        0  ...  finished watching the whole season of 24 today...
2        0  ...            wow i havent been on twitter in awhile
3        0  ...  powered through a 3 hour shift at work today f...
4        4  ...  user_mention user_mention thats good to hear i...
5        4  ...  user_mention lol that sounds about right u can...
6        0  ...  shit i lost my star trek ring starfleet academ...
7        4  ...  user_mention hehe you should definitely go see...
8        0  ...  user_mention you got it all done even the labs...
9        4  ...  user_mention hey mrs 'course i found you i hav...
10       0  ...  david wants to go for another gathering dinner...
11       4  ...                                appoaching malolos
12       4  ...  got a few weird tan lines at the pool today gr...
13       4  ...        user_mention not so much friend after this
14       0  ...  just won tickets to the blink182 and fall out ...
15       0  ...                          ahhh another day at work
16       0  ...  how goes it on your saturday nite getting my s...
17       0  ...  was online after a longtime on gtalk &amp ever...
18       4  ...  user_mention ano hes so creepythe way he was p...
19       4  ...                            going home to see mama
20       0  ...  i left out the house without setting my dvr to...
21       4  ...  user_mention i couldn't tame my hair to save m...
22       0  ...  user_mention i wudnt shave it if u paid me loa...
23       4  ...  i am not working very hard today thinking abou...
24       0  ...  oops i used the wrong version of they're in my...
25       0  ...  user_mention yes just stressing about finishin...
26       4  ...                  user_mention hahahahaha good one
27       4  ...  url  photos on flickr from the newport compute...
28       4  ...        just spent the day in alpharetta with kris
29       0  ...  user_mention oh i'm so jealous i guess i'll ha...
30       4  ...  user_mention i really need to make my rings sm...
31       0  ...  am sad about jon and kate i liked the show bac...
32       0  ...  new pictures of poor gavin covered in mosquito...
33       4  ...   talk went well seems to have been well receiv...
34       0  ...                  has to do chores in a little bit
35       0  ...                         can't sleep hit up my cell
36       4  ...  user_mention yea lol you were so funny in the ...
37       4  ...  user_mention oh and you shud post ur trident c...
38       4  ...                              where i can get sets
39       4  ...  user_mention congrats on winning 'best song in...
40       4  ...              user_mention and yes i would love to
41       0  ...     user_mention yeahhh butaiden =/ xd ahh well xd
42       4  ...    user_mention i thought you were going to sleep
43       0  ...                mtv awards what they did to eminem
44       0  ...  so glad i went to senior awards too bad mis am...
45       4  ...  user_mention yay that was so fun ps maybe b/c ...
46       4  ...  user_mention hasn't kept me from seeing the sh...
47       0  ...  user_mention that sounds like torture sorry th...
48       0  ...  noone will see these updates i have no followers
49       0  ...                i have a massive headache boohoo me

[50 rows x 6 columns]

## Quitamos expresiones con letras repetidas

In [102]:
#Convert 2 or more letter repetitions to 2 letters.
#Some people send tweets like I am sooooo
#happpppy adding multiple characters to emphasize
#on certain words. This is done to handle such tweets
#by converting them to I am soo happy
from nlp.preprocessing import quitar_letras_repetidas

In [103]:
training['text'] = training['text'].map(lambda s: quitar_letras_repetidas(s))
test['text'] = test['text'].map(lambda s: quitar_letras_repetidas(s))

In [104]:
training.head(50)

    target  ...                                               text
0        0  ...  i'll be having er duty tomorrow this will be f...
1        0  ...  finished watching the whole season of 24 today...
2        0  ...            wow i havent been on twitter in awhile
3        0  ...  powered through a 3 hour shift at work today f...
4        4  ...  user_mention user_mention thats good to hear i...
5        4  ...  user_mention lol that sounds about right u can...
6        0  ...  shit i lost my star trek ring starfleet academ...
7        4  ...  user_mention hehe you should definitely go see...
8        0  ...  user_mention you got it all done even the labs...
9        4  ...  user_mention hey mrs 'course i found you i hav...
10       0  ...  david wants to go for another gathering dinner...
11       4  ...                                appoaching malolos
12       4  ...  got a few weird tan lines at the pool today gr...
13       4  ...        user_mention not so much friend after this
14       0  ...  just won tickets to the blink182 and fall out ...
15       0  ...                           ahh another day at work
16       0  ...  how goes it on your saturday nite getting my s...
17       0  ...  was online after a longtime on gtalk &amp ever...
18       4  ...  user_mention ano hes so creepythe way he was p...
19       4  ...                            going home to see mama
20       0  ...  i left out the house without setting my dvr to...
21       4  ...  user_mention i couldn't tame my hair to save m...
22       0  ...  user_mention i wudnt shave it if u paid me loa...
23       4  ...  i am not working very hard today thinking abou...
24       0  ...  oops i used the wrong version of they're in my...
25       0  ...  user_mention yes just stressing about finishin...
26       4  ...                  user_mention hahahahaha good one
27       4  ...  url  photos on flickr from the newport compute...
28       4  ...        just spent the day in alpharetta with kris
29       0  ...  user_mention oh i'm so jealous i guess i'll ha...
30       4  ...  user_mention i really need to make my rings sm...
31       0  ...  am sad about jon and kate i liked the show bac...
32       0  ...  new pictures of poor gavin covered in mosquito...
33       4  ...   talk went well seems to have been well receiv...
34       0  ...                  has to do chores in a little bit
35       0  ...                         can't sleep hit up my cell
36       4  ...  user_mention yea lol you were so funny in the ...
37       4  ...  user_mention oh and you shud post ur trident c...
38       4  ...                              where i can get sets
39       4  ...  user_mention congrats on winning 'best song in...
40       4  ...              user_mention and yes i would love to
41       0  ...      user_mention yeahh butaiden =/ xd ahh well xd
42       4  ...    user_mention i thought you were going to sleep
43       0  ...                mtv awards what they did to eminem
44       0  ...  so glad i went to senior awards too bad mis am...
45       4  ...  user_mention yay that was so fun ps maybe b/c ...
46       4  ...  user_mention hasn't kept me from seeing the sh...
47       0  ...  user_mention that sounds like torture sorry th...
48       0  ...  noone will see these updates i have no followers
49       0  ...                i have a massive headache boohoo me

[50 rows x 6 columns]

## Quitar caracteres nonascii

In [105]:
from nlp.preprocessing import quitar_nonascii

In [106]:
training['text'] = training['text'].map(lambda s: quitar_nonascii(s))
test['text'] = test['text'].map(lambda s: quitar_nonascii(s))

## Removemos stopwords

In [107]:
nltk.download('stopwords') # Use predefined list of stopwords from nltk

STOPWORDS = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [112]:
# Aux funcci√≥n para substituir abreviaciones
def decontracted(phrase):
  phrase = re.sub(r"won't", "will not", phrase)
  phrase = re.sub(r"can\'t", "can not", phrase)
  phrase = re.sub(r"n\'t", " not", phrase)
  phrase = re.sub(r"\'re", " are", phrase)
  phrase = re.sub(r"\'s", " is", phrase)
  phrase = re.sub(r"\'d", " would", phrase)
  phrase = re.sub(r"\'ll", " will", phrase)
  phrase = re.sub(r"\'t", " not", phrase)
  phrase = re.sub(r"\'ve", " have", phrase)
  phrase = re.sub(r"\'m", " am", phrase)
  return phrase

In [113]:
training['text'] = training['text'].map(lambda s: decontracted(s))
test['text'] = test['text'].map(lambda s: decontracted(s))

In [110]:
training['text'] = training['text'].map(lambda s: remove_stopwords(s))
test['atext'] = test['text'].map(lambda s: remove_stopwords(s))

In [114]:
training

        target  ...                                               text
0            0  ...  i will er duty tomorrow fun exciting i will pr...
1            0  ...  finished watching whole season 24 today bad th...
2            0  ...                          wow havent twitter awhile
3            0  ...  powered 3 hour shift work today felt real sick...
4            4  ...  user_mention user_mention thats good hear wann...
...        ...  ...                                                ...
499995       0  ...                                  mornings horrible
499996       4  ...  user_mention thats good im alright thnx yeahh ...
499997       0  ...  office saturday hopefully getting early get ea...
499998       4  ...                             eating froot loops url
499999       0  ...              user_mention i am behind mah tweetin'

[500000 rows x 6 columns]

## Stemming con NLTK

In [ ]:
#create an object of class PorterStemmer
porter = PorterStemmer()
lancaster=LancasterStemmer()

def stemSentence(sentence):
    token_words=word_tokenize(sentence)
    token_words
    stem_sentence=[]
    for word in token_words:
        stem_sentence.append(porter.stem(word))
        stem_sentence.append(" ")
    return "".join(stem_sentence)

In [ ]:
training['text'] = training['text'].map(lambda s: stemSentence(s))
test['atext'] = test['text'].map(lambda s: stemSentence(s))

In [ ]:
training

         target  ...                                               text
0             0  ...  user_ment url aww bummer shoulda got david car...
1             0  ...  upset updat facebook text might cri result sch...
2             0  ...  user_ment dive mani time ball manag save 50 % ...
3             0  ...                   whole bodi feel itchi like fire
4             0  ...                           user_ment behav mad see
...         ...  ...                                                ...
1599995       4  ...                        woke school best feel ever
1599996       4  ...        thewdbcom cool hear old walt interview url
1599997       4  ...                      readi mojo makeov ask detail
1599998       4  ...   happi 38th birthday boo time tupac amaru shakur
1599999       4  ...               happi user_ment user_ment user_ment

[1600000 rows x 6 columns]

Quitamos datos al entrenamiento, empecemos con 100,000

In [ ]:
data_set_1 = training= training.head(100000)

In [ ]:
data_set_1

       target  ...                                               text
0           0  ...  user_ment url aww bummer shoulda got david car...
1           0  ...  upset updat facebook text might cri result sch...
2           0  ...  user_ment dive mani time ball manag save 50 % ...
3           0  ...                   whole bodi feel itchi like fire
4           0  ...                           user_ment behav mad see
...       ...  ...                                                ...
99995       0  ...  son develop new habit wake 530am second pot co...
99996       0  ...                 look like router broke tweet fone
99997       0  ...          realli dont want colleg right wish sunni
99998       0  ...                           user_ment *offer pepto*
99999       0  ...                         user_ment would soo revis

[100000 rows x 6 columns]

# Entrenamos un Tokenizer

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras import regularizers

# Entrena un Tokenizer. Consiste en:
# Crea un diccionario numerado de las palabras existentes en el corpus, y devuelve
# por cada palabra, el n√∫mero entero de su √≠ndice en el diccionario.
# En este caso, considera las N palabras m√°s frecuentes.
# oov_token = constante asiganda para palabras fuera del vocabulario (NOT USED HERE)


max_words = 5000
max_len = 200

tokenizer = Tokenizer(num_words=max_words)
tokenizer.fit_on_texts(data_set_1.text)
sequences = tokenizer.texts_to_sequences(data_set_1.text)
tweets = pad_sequences(sequences, maxlen=max_len)
print(tweets)

[[   0    0    0 ...  555 1577    6]
 [   0    0    0 ...   10  217  706]
 [   0    0    0 ...  357    3 2676]
 ...
 [   0    0    0 ...   60   20  369]
 [   0    0    0 ...    2    1 1207]
 [   0    0    0 ...   37   87  313]]

## Separamos en train, test

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(tweets, data_set_1.target.values, test_size=0.3, random_state=23042021)

In [ ]:
print("X_train", X_train.shape)
print("y_train", y_train.shape)
print("X_test", X_test.shape)
print("y_test", y_test.shape)

X_train (70000, 200)
y_train (70000,)
X_test (30000, 200)
y_test (30000,)

# Creamos el modelo

### RNN, tomado de: https://www.kaggle.com/smitshah00/sentiment-analysis-ml-rnn

In [ ]:
from keras.models import Sequential
from keras import layers
from keras import regularizers
from keras import backend as K
from keras.callbacks import ModelCheckpoint


model2 = Sequential()
model2.add(layers.Embedding(max_words, 128))
model2.add(layers.LSTM(64,dropout=0.5))
model2.add(layers.Dense(16, activation='relu'))
model2.add(layers.Dense(8, activation='relu'))
model2.add(layers.Dense(1,activation='sigmoid'))
model2.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

model2.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, None, 128)         640000
_________________________________________________________________
lstm (LSTM)                  (None, 64)                49408
_________________________________________________________________
dense (Dense)                (None, 16)                1040
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 136
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 9
=================================================================
Total params: 690,593
Trainable params: 690,593
Non-trainable params: 0
_________________________________________________________________

In [ ]:
checkpoint2 = ModelCheckpoint("rnn_model.hdf5", monitor='val_accuracy', verbose=1,save_best_only=True, mode='auto', period=1,save_weights_only=False)
history = model2.fit(X_train, y_train, epochs=10, validation_data=(X_test, y_test),callbacks=[checkpoint2])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/10
2188/2188 [==============================] - 366s 166ms/step - loss: 0.0219 - accuracy: 0.9963 - val_loss: 2.3566e-06 - val_accuracy: 1.0000

Epoch 00001: val_accuracy improved from -inf to 1.00000, saving model to rnn_model.hdf5
Epoch 2/10
2188/2188 [==============================] - 360s 165ms/step - loss: 1.5734e-06 - accuracy: 1.0000 - val_loss: 4.3041e-07 - val_accuracy: 1.0000

Epoch 00002: val_accuracy did not improve from 1.00000
Epoch 3/10
2188/2188 [==============================] - 361s 165ms/step - loss: 3.1633e-07 - accuracy: 1.0000 - val_loss: 1.1139e-07 - val_accuracy: 1.0000

Epoch 00003: val_accuracy did not improve from 1.00000
Epoch 4/10
2188/2188 [==============================] - 360s 165ms/step - loss: 8.4086e-08 - accuracy: 1.0000 - val_loss: 3.1955e-08 - val_accuracy: 1.0000

Epoch 00004: val_accuracy did not improve from 1.00000
Epoch 5/10
2188/2188 [==============================] - 371s 170ms/step - loss: 2.4389e-08 - accuracy: 1.0000 - val_loss: 9.6288e-09 - val_accuracy: 1.0000

Epoch 00005: val_accuracy did not improve from 1.00000
Epoch 6/10
2188/2188 [==============================] - 372s 170ms/step - loss: 7.4140e-09 - accuracy: 1.0000 - val_loss: 3.0391e-09 - val_accuracy: 1.0000

Epoch 00006: val_accuracy did not improve from 1.00000
Epoch 7/10
2188/2188 [==============================] - 372s 170ms/step - loss: 2.3672e-09 - accuracy: 1.0000 - val_loss: 1.0231e-09 - val_accuracy: 1.0000

Epoch 00007: val_accuracy did not improve from 1.00000
Epoch 8/10
2188/2188 [==============================] - 373s 171ms/step - loss: 8.1030e-10 - accuracy: 1.0000 - val_loss: 3.7656e-10 - val_accuracy: 1.0000

Epoch 00008: val_accuracy did not improve from 1.00000
Epoch 9/10
2188/2188 [==============================] - 376s 172ms/step - loss: 3.0484e-10 - accuracy: 1.0000 - val_loss: 1.5476e-10 - val_accuracy: 1.0000

Epoch 00009: val_accuracy did not improve from 1.00000
Epoch 10/10
2188/2188 [==============================] - 372s 170ms/step - loss: 1.2849e-10 - accuracy: 1.0000 - val_loss: 7.1827e-11 - val_accuracy: 1.0000

Epoch 00010: val_accuracy did not improve from 1.00000

# Probamos

In [ ]:
model = keras.models.load_model('rnn_model.hdf5')
sequence = tokenizer.texts_to_sequences(['this data science article is the best ever'])
test = pad_sequences(sequence, maxlen=max_len)
pred = model.predict(test)
if pred > 0.5:
  print('Positive')
else:
  print('Negative')